body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 80%;
    background-color: rgb(68, 58, 54);
}

.header {
    background-color: coral;
    border: 3px solid grey;
    border-radius: 50px 50px 50px 50px;
    margin: 0;
    text-align: center;
    color: maroon;
}

.header i {
    padding-right: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-self: center;
    text-align: center;
}

.container{
    border: 2px solid darkgrey;
    border-radius: 50px 50px;
    background-color: antiquewhite;
    padding-left: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.btn {
    border-radius: 25px;
    border: coral 1px solid;
    transition: 0.2s ease;
    background-color: #ccc;
    width: 20%;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.error{
    color: red;
    margin: 0;
    font-weight: bolder;
}

.hidden {
    display: none;
    color: red;
    margin: 0;
    font-weight: bolder;
}

li i {
    transition: 0.2 ease;
}

li i:hover{
    cursor: pointer;
    transform: translateY(-3px);
}

.btn:hover{
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 5px 15px;
}

.addedTask{
    display: flex;
    flex-direction: column;
}

.tasks {
    display: flex;
    justify-content: space-between;
    width: 60%;
    border: coral 1px solid;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    flex-direction: column;
}

ol {
    background-color: azure;
    font-size: 1.2em;
    gap: 10px;
    padding: 20px;
}

li {
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
    background-color: #ccc;
    padding-left: 10px;
    border: 1px solid coral;
    border-radius: 10px;
}

li i {
    align-content: center;
    justify-self: flex-end;
    padding-right: 10px;
    color: red;
}